.popup__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.form {
  width: 100%;
}

.btn__close {
  border: 0;
  padding: 0;
}

.btn__code {
  font-size: 12px;
  font-weight: 400;
  color: #fff;
  background-color: #5188C1;
  border-radius: 4px;
  padding: 8px 5px;
  width: 104px;
  margin-bottom: 15px;
}

.name__title--authorization {
  margin-bottom: 10px;
}

.input {
  background-color: transparent;
  padding: 5px;
  border: none;
  outline: none;
  color: #7F91A4;
  font-size: 12px;
  font-weight: 300;
}
.input::-webkit-input-placeholder {
  color: #7F91A4;
}
.input::-moz-placeholder {
  color: #7F91A4;
}
.input:-ms-input-placeholder {
  color: #7F91A4;
}
.input::-ms-input-placeholder {
  color: #7F91A4;
}
.input::placeholder {
  color: #7F91A4;
}

.nickname__input {
  outline: none;
}

.btn__wrapper {
  border-top: 1px solid #7F91A4;
  padding: 20px 0px;
}